<!DOCTYPE html>
<html lang="en">

<!-- Use bootstrap library and set the tab title  -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mission to Mars</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<!-- All information on the web page -->
<body>
    
    <div class="container">
        <div class="jumbotron text-center">
            <h2 style="text-align: center; color:rgb(2, 2, 2)"><strong> Mission to Mars </strong></h2>
            <p style="text-align: center;"><a class="btn btn-primary btn-sm" style="background-color: rgb(2, 2, 2)" href="/scrape" role="button"><strong>Scrape Mars Data</strong></a></p>
        </div>

        
        <div class="container-fluid">
            <div class="row">                
                <div class="col-md-12">
                    <h3 style="color: rgb(2, 2, 2)"></h3><strong>Mars Latest News</strong></h3>
                    <h5><strong>{{mars.news_title}}</strong></h5>
                    <p><em>{{mars.news_teaser}}</em></p>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                
                <div class="col-md-8">
                    <h3 style="color: rgb(2, 2, 2)"></h3><strong>Featured Mars Image</strong></h3>
                    <img src="{{mars.featured_img_url}}" class="img-thumbnail">
                </div>

                <div class="col-md-4">
                    <div class="row"> 
                        <div class="col-md-12">
                                <h3 style="color: rgb(2, 2, 2)"></h3><strong>Mars Facts</strong></h3>
                                <p style="border-style:solid;border-color:rgb(2, 2, 2);border-width:2px;border-radius:2px">{{mars.mars_facts | safe}}</p>
                        </div>
                    </div>
                </div>
            
            </div>     
        </div>

        <div class="container-fluid text-center" style="border: 5px solid rgb(192, 177, 177);background-color: rgb(252, 252, 252)">
            <div class="row">
                <div class="col-md-12">
                    <h3 style="color: rgb(2, 2, 2)"></h3><strong>Mars Hemispheres</strong></h3>
                </div>
            </div>
                <br>
            

            <div class="row" style="margin: auto;">

                <div class="col-md-6">
                    <img src="{{mars.hemisphere_img_urls.0.image_url}}" class="img-thumbnail">
                    <h4 style="color: rgb(2, 2, 2)"></h3><strong> {{mars.hemisphere_img_urls.0.title}}</strong></h4>
                </div>

                <div class="col-md-6">
                    <img src="{{mars.hemisphere_img_urls[1]['image_url']}}" class="img-thumbnail">
                    <h4 style="color: rgb(2, 2, 2)"></h3><strong> {{mars.hemisphere_img_urls[1]['title']}}</strong></h4>
                </div>

                <div class="col-md-6">
                    <img src="{{mars.hemisphere_img_urls[2]['image_url']}}" class="img-thumbnail">
                    <h4 style="color: rgb(2, 2, 2)"></h3><strong> {{mars.hemisphere_img_urls[2]['title']}}</strong></h4>
                </div>
        
                <div class="col-md-6">
                    <img src="{{mars.hemisphere_img_urls[3]['image_url']}}" class="img-thumbnail">
                    <h4 style="color: rgb(2, 2, 2)"></h3><strong> {{mars.hemisphere_img_urls[3]['title']}}</strong></h4>
                </div>

            </div>
        </div>
    </div> 
            
</body>

</html>  