<!DOCTYPE html>
<html lang="en">

<!-- Use bootstrap library and set the tab title  -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mission to Mars</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<!-- All information on the web page -->
<body>
    
    <div class="container">
        <div class="jumbotron text-center">
            <h2 style="text-align: center; color:rgb(2, 2, 2)"><strong> Mission to Mars </strong></h2>
            <p style="text-align: center;"><a class="btn btn-primary btn-sm" style="background-color: rgb(2, 2, 2)" href="/scrape" role="button"><strong>Scrape Mars Data</strong></a></p>
        </div>

        
        <div class="container-fluid">
            <div class="row">                
                <div class="col-md-12">
                    <h3 style="color: rgb(2, 2, 2)"></h3><strong>Mars Latest News</strong></h3>
                    <h5><strong>{{mars.news_title}}</strong></h5>
                    <p><em>{{mars.news_teaser}}</em></p>
                </div>
            </div>
        </div>

<!--hemisphere code here-->
        
    </div> 
            
</body>

</html>  